html {
  background-color: #77C9D4; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(135deg, #77C9D4, #57BC90); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(135deg, #77C9D4, #57BC90); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(135deg, #77C9D4, #57BC90); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(135deg, #77C9D4, #57BC90); /* Standard syntax; must be last */
  background-repeat: no-repeat;
}
